@font-face {
	font-family: 'funtonalie';
	src: url('/fonts/funtonalie/Funtonalie.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'fustat-light';
	src: url('../fonts/fustat_5.1.0/ttf/fustat-latin-200-normal.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'fustat';
	src: url('../fonts/fustat_5.1.0/ttf/fustat-latin-300-normal.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'fustat-bold';
	src: url('../fonts/fustat_5.1.0/ttf/fustat-latin-800-normal.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--pearl-powder: #FBFDEC;
	--eclipse: #0E193E;
	--flamingo-: #FD4A7F;
	--mustard-: #FAC748;
	--orchid-: #8390FA;
	--nightlife: #1D2F6F;

	--font-title: 'funtonalie', Georgia, 'Times New Roman', Times, serif;
	--font-light: 'fustat-light', Arial, Helvetica, sans-serif;
	--font-text: 'fustat', Arial, Helvetica, sans-serif;
	--font-bold: 'fustat', Arial, Helvetica, sans-serif;
}

body {
	background-color: #FBFDEC;
	margin: 1em;
}

h1 {
	color: var(--nightlife);
	font-family: var(--font-title);
	font-size: 4.5vw;
	margin: -0.25em 0 0 0.5em;
}

h2 {
	font-family: var(--font-light);
	font-size: 380%;
	color: var(--flamingo-);
	letter-spacing: 1px;
	text-align: center;
	margin: 1em 0 1em 0;
}

p {
	font-family: var(--font-text);
	font-size: 1.1vw;
	color: var(--nightlife);
	word-spacing: 2px;
	line-height: 25px;
	margin: 4em 15em;
	max-width: 115ch;
}

nav {
	font-family: var(--font-text);
	font-size: 200%;
	text-align: center;
	justify-content: center;
	margin: 2.5em 0 0 0;
}

a {
	/* margin-right: 1em; */
	text-decoration: none;
	color: var(--nightlife);
}

a:hover {
	color: var(--orchid-)
}

a:visited {
	color: var(--nightlife)
}

footer {
	display: flex;
	flex-direction: column;
	color: var(--flamingo-);
	background-color: var(--eclipse);
	font-family: var(--font-title), Arial, Helvetica, sans-serif;
	padding: 2px;
	text-align: center;
	margin: 3em -1em -1em -1em;
	/* border-top: var(--eclipse) solid 6px; */
}

footer p {
	color: var(--flamingo-);
	font-size: 2vh;
}

.nav-bar {
	display: grid;
	grid-template-columns: 15% 75%;
	margin: -2.75em 0 1em 0;
}

hr.solid {
	border-top: 2px solid var(--nightlife);
	border-radius: 4px;
	margin: 5em 25em 5em 20em;
}

.bold {
	font-family: var(--font-bold);
	font-weight: 900;
}

.topnav .search-container {
  display: flex;
  justify-content: center;
	margin: 2em 0;
}

.topnav input[type=text] {
  padding: 15px 10em;
  margin-top: 1em;
  font-size: 17px;
	text-align: center;
  border-radius: 10px;
}

.placeholder-image {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

.recipe-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	gap: 30px 20px;
	margin: 2em;
}


.recipe-grid img { /* make this responsive */
	width: 100%;
	height: auto;
	animation: fadeInAnimation ease 2s 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
0% {
	opacity: 0;
}
100% {
	opacity: 1;
}
}

.recipe:hover img { 
filter: opacity(50%);
transform: scale(1.02);
border: 2px solid var(--flamingo-);
}


/* responsive nav menu */
/* 
body {
  margin: 0;
  font-family: 'funtonalie', Helvetica, sans-serif;
	color: var(--nightlife);
  background-color: var(--pearl-powder);
} */

a {
	font-family: 'fustat', Arial, Helvetica, sans-serif;
  color: var(--nightlife);
	font-size: 3.5vh;
}

/* header */

.header {
  width: 100%;
  z-index: 3;
	margin: 4em 1.5em;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}

.header li a {
  display: block;
  padding: 10px 50px;
  text-decoration: none;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 50px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
	h1 {
		margin-right: 40px;
	}
  .header li {
    float: left;
  }
  .header li a {
    padding: 30px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* media query 1000, tablet */

@media screen
and (max-width: 1000px) {
	.recipe-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 30px 20px;
		margin: 2em;
	}
}

@media screen
and (max-width: 1000px) {
	.recipe-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 30px 20px;
		margin: 2em;
	}
}

/* mobile queries (320, 425) */

@media screen
and (max-width: 425px) {
	.recipe-grid {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		gap: 30px 20px;
		margin: 2em;
	}
}

