@font-face {
	font-family: 'funtonalie';
	src: url('../fonts/funtonalie/Funtonalie.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'fustat-light';
	src: url('../fonts/fustat_5.1.0/ttf/fustat-latin-200-normal.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'fustat';
	src: url('../fonts/fustat_5.1.0/ttf/fustat-latin-300-normal.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'fustat-bold';
	src: url('../fonts/fustat_5.1.0/ttf/fustat-latin-800-normal.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* base colors */
:root {
	--pearl-powder: #FBFDEC;
	--eclipse: #0E193E;
	--flamingo-: #FD4A7F;
	--mustard-: #FAC748;
	--orchid-: #8390FA;
	--nightlife: #1D2F6F;

	--font-title: 'funtonalie', Georgia, 'Times New Roman', Times, serif;
	--font-light: 'fustat-light', Arial, Helvetica, sans-serif;
	--font-text: 'fustat', Arial, Helvetica, sans-serif;
	--font-bold: 'fustat', Arial, Helvetica, sans-serif;
}

/* general stylings */

body {
	background-color: var(--pearl-powder);
	margin: 0;
	padding-top: 150px;
}

h1 {
	color: var(--orchid-);
	font-family: var(--font-title);
	font-size: 4.2vw;
	margin: -0.20em 0 0 0.2em;
	position: relative;
	letter-spacing: 2px;

}

h2 {
	font-family: var(--font-light);
	font-size: 380%;
	color: var(--flamingo-);
	letter-spacing: 1px;
	text-align: center;
	margin: 1.5em 30px -0.5em 3px;
	padding: 12px 0 40px 0;
}

h3 {
	font-family: var(--font-light);
	font-size: 200%;
	color: var(--flamingo-);
	margin: 0.5em 0;
}

li {
	font-family: var(--font-light);
	font-size: 150%;
	color: var(--nightlife);
	line-height: 1.3;
	padding: 4px;
	margin-left: 50px;
}

p {
	font-family: var(--font-text);
	font-size: 140%;
	color: var(--nightlife);
	word-spacing: 2px;
	line-height: 1.3;
	margin: 3em 6em;
	max-width: 115ch;
}

button {
	background-color: var(--orchid-);
	border-radius: 10px;
	color: var(--pearl-powder);
	font-family: var(--font-light);
	cursor: pointer;
	font-size: 200%;
	padding: 20px 15px;
	border: none;
	margin: 0 0.6em;
}

button:hover {
  background-color: var(--nightlife);
	color: var(--flamingo-);
	font-family: var(--font-bold);
	transform: scale(1.1);
}


/* nav bar */

nav { 
	font-family: var(--font-text);
	font-size: 200%;
	text-align: center;
	justify-content: center;
	margin: 2.5em 0 0 0;
}

/* link stylings */

a { 
	text-decoration: none;
	color: var(--flamingo-);
	font-family: 'fustat', Arial, Helvetica, sans-serif;
	font-size: 110%;
}

a:hover { 
	color: var(--orchid-)
}

a:visited { 
	color: var(--flamingo-)
}

/* footer stylings */

footer {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  background-color: var(--nightlife);
  font-family: var(--font-title), Arial, Helvetica, sans-serif;
  padding: 25px;
  margin: 5em 0 0 0; 
}

footer p { 
  color: var(--flamingo-);
  margin: 0.5em 0; /* Reduced vertical margin */
  font-size: 100%;
}

.footer-links {
  font-size: 180%;
}

.bottom-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  margin: -1em 5em;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.help-button {
  font-size: 140%;
}

/* home page */

.nibbly-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 9em 2em 1em 2em;
}

.nibbly-colors {
	margin-left: 5em;
	margin-right: 5em;
}

.home-text {
	font-size: 240%;
	margin: 1em 2em;
	align-self: center;
	justify-content: center;
	text-align: center;
}

#intro {
	font-size: 430%;
	color: var(--flamingo-);
	margin: 0 1em;
	text-align: center;
	animation: fadeIn 1.5s ease-in forwards;
	margin-top: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home-bio {
	font-size: 185%;
	text-align: center;
	color: var(--nightlife);
	margin-top: 0.5em;
}

/* cuisine filter page */

/* Cuisine List and Recipe Grid Layout */

.cuisine-select {
	margin: 7em 1em;
	font-size: 150%;
	text-align: center;
}

.cuisine-caption {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0;
	font-weight: 900;
	font-size: 150%;
}

.cuisine-container {
	display: flex; /* Align the cuisine list and recipes side by side */
	align-items: flex-start;
	gap: 10px;
	margin: 2em 1em; 
}

/* Cuisines List Styling, when user selects a cuisine */
.cuisines-list {
	flex: 1; 
	max-width: 600px; 
	list-style: none; /* Remove bullets */
	padding: 10px 15px 10px 10px;
	border-radius: 5px;
	border: 3.5px solid var(--nightlife);
	margin: 1.5em;
	background-color: #EAF0FA;
}

.cuisines-list li {
	margin: 0;
	margin-left: 20px;
	padding: 15px 0;
}

.cuisines-list a {
	text-decoration: none;
	color: var(--flamingo-); 
	font-family: var(--font-text);
	font-size: 150%;
	font-weight: bold;
	transition: color 0.3s;
}

.cuisines-list a:hover {
	color: var(--eclipse); 
	text-decoration: underline;
}

.cuisines-list a.active {
	color: var(--eclipse);
	text-decoration: underline;
}

/* Recipe Grid Page Styling, displays all recipes */
.recipe-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: start;
	gap: 20px;
	margin: 2em;
}

/* Individual Recipe Cards, each recipe box in grid */
.recipe-card {
	display: block;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	color: var(--nightlife);
	background-color: var(--pearl-powder); 
	transition: transform 0.3s, box-shadow 0.3s;
}

.recipe-card:hover {
	transform: scale(1.05); /* Slight zoom effect */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
	max-width: 100%;
	height: auto;
}

.recipe-card h3 {
	margin: 10px 0 5px;
	font-size: 150%;
	color: var(--flamingo-);
}

.recipe-card p {
	margin: 0;
	font-size: 120%;
	color: var(--nightlife);
}

.cuisine-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	gap: 50px 20px;
	margin: 2em;
}

.cuisine img {
	height: auto;
	width: 100%;
	margin-bottom: 20px;
}

.cuisine:hover img {
	height: auto;
	width: 100%;
	border: 2px solid var(--flamingo-);
}

a.cuisine {
	color: var(--nightlife);
	font-size: 170%;
	text-align: center;
}


/* no search found page stylings */

.nothing-found {
	display: flex;
	padding: 2em 1em;
	margin: 4em;
}

.no-results {
	text-align: center;
	font-size: 180%;
	margin: 0;
}

.nav-bar {
	display: grid;
	grid-template-columns: 15% 75%;
	margin: -2.75em 0 1em 0;
}

.bold { /* bold text styling */
	font-family: var(--font-bold);
	font-weight: 900;
}

.search-found { /* search found text styling */
	display: flex;
	justify-content: center;
	align-self: center;
	padding: 7em;
	margin: 4em;
}

/* search bar stylings */

.menu {
	width: 75%;
	display: flex;
	column-gap: 3px;
	flex-direction: row;
}

form {
	width: 30%;
	display: flex;
	justify-content: center;
}

.search-container {
	display: flex;
	justify-content: center; /* Center the search bar */
}

/* Search Bar Styles */
.topnav {
	padding: 15px 0;
	background-color: var(--pearl-powder); 
	border-bottom: 3px solid var(--nightlife); 
}

.fixed-container {
	position: fixed; 
	top: 0;          
	width: 100%;    
	z-index: 100;   
}

.topnav input[type="text"] {
	padding: 10px;
	font-size: 14px;
	border-radius: 8px;
	border: 2px solid var(--nightlife); 
	width: 70%;
	max-width: 600px; 
}

/* placeholder images */

.placeholder-image {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

.placeholder-image img {
	margin: 0 auto;
	width: auto;
	height: 30%;
}

/* recipe images sizes */

a.recipe-image img{ 
	width: auto;
	height: 45%;
	padding: 10px;
}

/* all recipes page, central hub */

.all-recipe-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: flex-start;
	gap: 30px 20px;
	margin: 2em 3.5em;
}

.recipe-grid img { 
	width: 100%;
	height: auto;
	animation: fadeInAnimation ease 2s 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
0% {
	opacity: 0;
}
100% {
	opacity: 1;
}
}

.recipe:hover img { 
filter: opacity(50%);
transform: scale(1.02);
border: 2px solid var(--flamingo-);
}

/* single recipe pages, user selects recipe page to open */

hr.solid {
  border-top: 3px solid var(--mustard-);
  border-radius: 4px;
  width: 50%; 
  margin: -1em auto;
  opacity: 0.9; 
}

.recipe-div {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	margin: 3em 3em;
}

.recipe-header {
  text-align: center;
  font-size: 3.4rem; 
  margin: 0.8em 0 0 0.4em; 
  color: var(--flamingo-);
  padding: 0;
  padding-top: 20px;
}

.ingredients-list {
	margin: 1em 2em;
}

.blurb-div {
	margin: 1em 3em 3em 3em;
}

.blurb-div p {
	margin: 1em 1em;
}

.blurb-div li {
	font-family: var(--font-text);
}

.ingredients-div {
	align-items: center;
	margin: 0 3em;
}

.ingredients-image {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 4em;
}

.recipe-details {
  text-align: center;
    margin-bottom: 2em;
    font-size: 1.1rem; 
    color: var(--nightlife); 
}

.recipe-details .details-row {
  display: flex;
  justify-content: space-between; 
  margin: 0;
}

.details-row {
  display: flex;
  justify-content: center; 
  gap: 100px; 
  text-align: center;
  flex-wrap: wrap; 
}

.details-row p {
  font-size: 1.4rem; 
    margin: 0; 
    line-height: 1.4; 
    flex: 1; 
    white-space: nowrap;
}

/* about page, learn more about the website */

.about {
	display: flex;
	font-size: 90%;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 0 6em 1.7em 6em;
}

.about p {
	margin: 0 1em;
	padding: 2em;
}

.about-image {
width: 15%;
height: auto;
}

.showcase-image {
width: 70%;
height: auto;
}

/* help page */

.help-page {
  text-align: center;
  font-size: 110%;
  margin: 8em 2em;
}

.help-header {
  font-size: 300%;
  padding: 0;
}

.underlined {
  text-decoration: underline;
}

/*hamburger menu*/

/* header of hamburger */

.search-bar {
	background-color: var(--eclipse); /* Background color for the header */
}

.header {
	display: flex;
	align-items: center;
	padding: 10px 20px 5px 20px; 
	margin: 0;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: left;
	gap: 20px; /* Space between menu items */
}

.header li a {
	text-decoration: none;
	color: var(--flamingo-);
	font-family: var(--font-text);
	font-size: 110%;
}

.header li a:hover {
	color: var(--orchid-);
	transform: scale(1.1);
}

.header li a:hover,
.header .menu-btn:hover {
	transform: scale(1.1);
}

.header .logo {
  float: left;
	padding-top: 15px;
	margin-top: -1em;
  text-decoration: none;
	position: relative;
}

.logo img {
	margin-top: 1em;
	width: 87%;
	height: auto;
}

/* hamburger menu*/

.header .menu {
	display: flex;
	justify-content: center;
	gap: 40px;
	padding: 0 20px;
	margin: 0;
  clear: both;
  max-height: 0;
  transition: max-height .3s ease-out;
}

.menu li {
 margin: 0 16px;
}

/* hamburger menu icon */

.menu-icon {
	display: flex;
  cursor: pointer;
  position: fixed;
  top: -5px; 
  right: 20px; 
  z-index: 10;
	transform: scale(1.3);
}

.header .menu-icon {
  cursor: pointer;
  display: flex;
	justify-content: right;
  padding: 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--orchid-);
  display: block;
  height: 2px;
  position: relative;
  transition: background .3s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--orchid-);
  content: '';
  display: block; 
  height: 120%;
  position: absolute;
  transition: all .3s ease-out;
  width: 120%;
}

.header .menu-icon .navicon:before {
  top: 8px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* hamburger menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
	display: flex;
  flex-direction: column;
  position: absolute;
  top: 116px; /* Position below the header */
  left: -2px; /* Align the mobile menu dropdown to the left */
  background: var(--eclipse);
  padding: 20px;
  border-radius: 8px;
  z-index: 9;
  gap: 15px;
  width: auto;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* end of hamburger*/


/* media queries */

/* screens larger than 1200px */
@media screen and (min-width: 1200px) {
  h1 {
    margin-right: 40px;
  }
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    font-size: 130%;
    margin: 0 1em;
    row-gap: 30px;
  }
  hr.solid {
    margin: 3em 8em;
  }
	.nibbly-container {
    flex-direction: row;
    justify-content: center;
    margin: 5em 2em;
  }
  .nibbly-colors {
    margin: 0 2em;
    width: 30%;
    max-width: none;
  }
  .home-text {
    font-size: 2.5rem;
    margin: 0;
  }
	.cuisine-container {
    display: flex; 
    align-items: flex-start;
    justify-content: space-between; 
    gap: 20px; 
    margin: 2em auto; 
    width: 100%; 
    padding: 0 5%; 
    max-width: 1400px; 
  }

  .cuisines-list {
    flex: 0 0 25%; 
    background-color: #EAF0FA;
    padding: 20px 30px 20px 20px;
    border-radius: 10px;
    border: 3.5px solid var(--nightlife);
  }

  .recipe-card {
    background-color: var(--pearl-powder);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .recipe-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .recipe-card img {
    width: 100%;
    height: auto;
  }

  .recipe-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: var(--flamingo-);
  }

  .recipe-card p {
    font-size: 1rem;
    color: var(--nightlife);
  }
  
	.about {
    flex-direction: column;
    align-items: center;
		justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 0 5%;
  }

  .about img {
    width: 20%;
		height: auto;
    margin: 0;
  }

  .about p {
    flex: 1;
    font-size: 1.75em;
    line-height: 1.8;
    margin: 0 20px;
  }
  .help-page {
    font-size: 1.2rem; 
    margin: 7em 3em; 
  }

  .help-header {
    font-size: 3.5rem; 
  }
}

/* For screens between 700px and 1200px */
@media screen and (max-width: 1200px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 130%;
    margin: 0 1em;
    row-gap: 30px;
  }
  .recipe-grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px 20px;
    margin: 2em;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em 0;
  }
  .about img {
    width: 70%;
    height: auto;
  }
  hr.solid {
    margin: 3em 8em;
  }
  .recipe-div {
    flex-direction: column;
    margin: 3em;
    column-gap: 20px;
  }
  a.recipe-image img {
    width: 100%;
    height: auto;
  }

	.header .menu-btn:checked ~ .menu {
    max-height: 500px;
    display: flex;
    flex-direction: column;
  }
  .topnav input[type=text] {
    padding: 15px 8em;
    margin-top: 1.2em;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid var(--nightlife);
  }
	.nibbly-container {
    flex-direction: column;
    margin: 5em 1.5em;
  }
  .nibbly-colors {
    width: 50%;
    max-width: 400px;
  }
  .home-text {
    font-size: 2rem;
    margin: 1.5em;
  }
	.cuisine-container {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Reduce space between elements */
    margin: 2em;
  }

  .cuisines-list {
    max-width: 100%;
    margin-bottom: 20px; /* Add space below the list */
  }

  .recipe-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for recipes */
    gap: 20px;
  }
	.all-recipe-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for recipes */
    gap: 20px; /* Reduce gap size */
    margin: 1.5em auto;
    max-width: 90%; /* Use a percentage width for smaller screens */
  }

  .recipe-card {
    padding: 10px;
  }

  .recipe-card h3 {
    font-size: 1.6rem;
  }

  .recipe-card p {
    font-size: 1.2rem; 
  }
	.about {
		display: flex;
    flex-direction: column;
    align-items: center;
		justify-content: center;
    text-align: center;
    padding: 0 3%;
  }

  .about img {
    width: 28%;
		height: auto;
    margin: 1.5em 0;
  }

  .about p {
    font-size: 1.8rem;
    margin: 1.5em 0;
    line-height: 1.6;
  }
	.header .menu {
		display: none; /* Hide desktop menu */
	}

	.menu-icon {
		display: block; /* Show hamburger icon */
	}
	
	form {
		width: 60%;
		display: flex;
		justify-content: center;
	}

  .help-page {
    font-size: 1.1rem;
    margin: 8em 2em; 
  }

  .help-header {
    font-size: 3rem;
  }
}

/* For screens between 500px and 700px */
@media screen and (max-width: 700px) {
  .categories {
    grid-template-columns: 1fr;
    row-gap: 50px;
    padding: 80px 90px;
    margin: 1em 4em;
  }
  .recipe-grid {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 30px 8px;
    margin: 2em;
  }

	hr.solid {
    margin: 3em 8em;
  }
  .topnav input[type=text] {
    width: 80%;
    font-size: 14px;
  }
	.nibbly-container {
    margin: 3em 1em;
  }
  .nibbly-colors {
    width: 70%;
    max-width: 300px;
  }
  .home-text {
    font-size: 1.8rem;
  }
	.header .menu {
		display: none; /* Hide desktop menu */
	}

	.menu-icon {
		display: block; /* Show hamburger icon */
	}
	.cuisine-container {
    flex-direction: column;
    gap: 20px;
    margin: 1.5em;
  }

  .cuisines-list {
    max-width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem; 
  }

  .recipe-grid {
    grid-template-columns: 1fr; 
    gap: 20px;
  }
	.all-recipe-grid {
    grid-template-columns: 1fr; 
    gap: 15px; 
    margin: 1.5em auto;
  }

  .recipe-card {
    padding: 8px;
  }

  .recipe-card h3 {
    font-size: 1.4rem; 
  }

  .recipe-card p {
    font-size: 1rem;
  }

  .search-container input[type="text"] {
    width: 90%; /* Adjust search bar width */
  }
	.recipe-div {
    flex-direction: column;
    gap: 15px;
    margin: 1.5em auto;
    max-width: 95%;
  }
  .recipe-header {
    font-size: 2.8rem; /* Reduce font size for tablets */
    margin: 2em 0 0 0.3em; /* Adjust margins for smaller screens */
  }

  .ingredients-image {
    max-width: 100%;
  }

  .ingredients-image img {
    width: 100%;
    height: auto;
  }

  .blurb-div h3,
  .ingredients-list h3 {
    font-size: 1.7rem;
  }

  .blurb-div p {
    font-size: 1.4em;
  }
  
  .ingredients-list li {
    font-size: 1.4rem;
  }
  .recipe-details {
    font-size: 1rem; 
    margin-bottom: 1.5em; 
  }

  .details-row {
    gap: 50px; 
  }

  .details-row p {
    font-size: 1.2rem; 
    white-space: normal; 
    text-align: center; 
  }
  
	.about {
    padding: 0 2em;
		display: flex;
		align-items: center;
		justify-content: center;
  }

  .about img {
    width: 40%;
		height: auto;
    margin: 1em 0;
  }

  .about p {
    font-size: 1.3rem;
    margin: 1em 0;
  }
	form {
		width: 60%;
		display: flex;
		justify-content: center;
	}

  .help-page {
    font-size: 1rem;
    margin: 6em 1.5em; 
  }

  .help-header {
    font-size: 2.5rem; 
  }
}

/* For screens smaller than 500px */
@media screen and (max-width: 500px) {
  .recipe-grid {
    grid-template-columns: 1fr;
    gap: 30px 10px;
    margin: 2em;
  }
  .categories {
    padding: 20px;
    margin: 1em;
  }
  p {
    margin: 1.5em;
  }
  h2 {
    padding-top: 30px;
  }

  .topnav input[type=text] {
    padding: 15px 3.5em;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid var(--nightlife);
  }
	.nibbly-container {
    margin: 5em 1em;
  }
  .nibbly-colors {
    width: 80%;
    max-width: 250px;
  }
  .home-text {
    font-size: 2.4rem;
  }
	.header .menu {
		display: none; /* Hide desktop menu */
	}

	.menu-icon {
		display: block; /* Show hamburger icon */
	}
	.cuisine-container {
    gap: 15px;
    margin: 1em;
  }

  .cuisines-list {
    max-width: 100%;
    padding: 8px;
    font-size: 1rem; /* Reduce font size for smaller screens */
  }

  .recipe-grid {
    grid-template-columns: 1fr; 
    gap: 15px;
  }
	.all-recipe-grid {
    grid-template-columns: 1fr; 
    gap: 10px; 
    margin: 1em;
  }

  .recipe-card {
    padding: 5px;
  }

  .recipe-card img {
    max-width: 100%;
    height: auto;
  }

  .recipe-card h3 {
    font-size: 1.2rem; /* Reduce font size */
  }

  .recipe-card p {
    font-size: 0.9rem; /* Reduce font size */
  }

  .search-container input[type="text"] {
    width: 100%; /* Full-width search bar */
    font-size: 0.9rem; /* Adjust font size */
  }

  footer p {
    font-size: 0.8rem; /* Adjust footer text size */
  }
	.recipe-div {
    flex-direction: column;
    gap: 10px;
    margin: 1em auto;
    max-width: 100%;
    padding: 0 10px;
  }
  .recipe-header {
    font-size: 2rem; /* Smaller font for mobile devices */
    margin: 2.7em 0 0 0.2em; /* Compact margins for tight spaces */
  }

  .ingredients-image {
    max-width: 100%;
  }

  .ingredients-image img {
    width: 100%;
    height: auto;
  }

  .blurb-div h3,
  .ingredients-list h3 {
    font-size: 1.8rem;
    text-align: center;
  }

  .blurb-div p {
    font-size: 1.3em;
  }
  .ingredients-list li {
    font-size: 1.3em;
    text-align: justify;
  }

  .recipe-details {
    font-size: 0.9rem; /* Smallest font size */
    margin-bottom: 1em; /* Minimal margin */
  }

  .details-row {
    gap: 20px; /* Minimal gap for compact layout */
    flex-direction: column; /* Stack items vertically */
  }

  .details-row p {
    font-size: 1.3rem; /* Adjust font size for small screens */
    text-align: center; /* Center text for smaller layout */
    line-height: 1.6; /* Increase line spacing */
  }

  footer p {
    font-size: 0.8rem;
    text-align: center;
  }
	.about {
    padding: 0 1em;
  }

  .about img {
    width: 40%;
		height: auto;
    margin: 0.8em 0;
  }

  .about p {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-top: -0.5em;
  }

    .help-page {
    font-size: 0.9rem; 
    margin: 8em 2em; 
  }

  .help-header {
    font-size: 2.3rem; 
    margin: 1em 0;
  }
}

